.input-container {
    background-color: white;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.input-container input {
    width: 100%;
    border: none;
    padding-left: 5px;
    font-size: 15px;
}

.input-container input:focus {
    outline: none;
}

.input-send {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 25px;
    color: #3a126c;
}

.input-send input {
    display: none;
}

.input-send span {
    cursor: pointer;
}