.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}