.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6%;
    padding: 1em;
}

.user {
    display: flex;
    align-items: center;
    gap: 1em;
}

.user img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}