.search {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

.search form input {
    width: 100%;
    padding: 1em;
    border: none;
}

.search form input:focus {
    outline: none;
}

.user-chat {
    display: flex;
    align-items: center;
}

.user-chat img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1em;
}

.user-chat-info p {
    margin-top: -1em;
}