.search {
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

.search form input {
    padding: 10px;
    width: 100%;
    border: none;
}

.search form input:focus {
    outline: none;
}

.user-chat {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-chat img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-chat-info p {
    margin-top: -20px;
}