.form-wrapper {
    background-color: #ffffff8f;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-wrapper form {
    background-color: #8947d9;
    padding: 2em;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
}

.form-wrapper form button {
    width: 45%;
    padding: 0.7em;
    border: none;
    border-radius: 10px;
    background-color: #3a126c;
    color: white;
    margin: 2em 0; 
}

.form-wrapper form button:hover {
    background-color: #3b126cbb;
    cursor: pointer;
}

.form-section {
    width: 90%;
    padding: 0.4em;
    margin-bottom: 1em;
    color: white;
}

.form-section label {
    display: block;
    margin-bottom: 1em;
}

.form-section input {
    padding: 0.8em 0 0.8em 1em;
    width: 95%;
    border-radius: 10px;
    border: none;
}

.form-section input:focus {
    outline: none;
}

.form-link {
    color: white;
}

/* Home */

.home {
    background-color: rgb(211, 206, 206);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 65%;
    height: 80%;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}