.form-wrapper {
    background-color: #ffffff8f;
    display: flex;
    align-items: center;
    height: 100vh;
}

.login {
    justify-content: center;
    flex-direction: column;
}

/* .register {
    justify-content: space-evenly;
}
 */

.logo {
    /* margin: -50px 0 80px 0; media query 1024px*/
    display: block;
    margin: 0 auto;
}

.form-wrapper form {
    /* background-color: #8947d9; */
    /* padding: 25px; */
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    /* -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd; */
}

.form-wrapper form button {
    /* width: 45%; */
    /* padding: 0.7em; */
    border: none;
    border-radius: 10px;
    background-color: #3a126c;
    color: white;
    margin: 20px 0; 
    font-weight: bold;
    transition: all 0.5s;
}

.form-wrapper form button:hover {
    background-color: #3b126cbb;
    cursor: pointer;
}

.form-section {
    width: 90%;
    padding: 0.4em;
    margin-bottom: 1em;
    color: white;
}

.form-section label {
    display: block;
    margin-bottom: 1em;
    font-size: 17px;
    
}

.form-section input {
    padding: 0.8em 0 0.8em 1em;
    /* width: 95%; */
    display: block;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

.form-section input::placeholder {
    font-size: 15px;
    color: #717171;
}

.form-section input:focus {
    outline: 3px solid #551b9c;
}

.form-section input:focus::placeholder {
    color: #717171a4;
}

.form-section label[for="userAvatar"] {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 5px;
    width: 40%;
    margin: 0 auto;
}

.form-section input[type="file"] {
    display: none;
}

.avatar-icon {
    font-size: 50px;
}

.form-link {
    color: white;
    font-weight: bold;
}

.home {
    background-color: rgb(211, 206, 206);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 80%;
    height: 90%;
    border: 4px solid rgb(3, 3, 3);
    display: grid;
    display: flex;
    overflow: hidden;
}

@media screen and (min-width: 320px) {

    .register {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        width: 50%;
        margin: -50px auto 50px auto;
    }

    .register .logo {
        margin: 20px auto 30px auto;
    }

    .form-wrapper form {
        background-color: white;
        padding: 10px;
        width: 280px;
    }

    .form-section {
        color: #551b9c;
        font-weight: bold;
    }

    .form-section input {
        width: 95%;
        border: 3px solid #3a126c;
    }

    .form-wrapper form button {
        width: 75%;
        padding: 10px;
    }

    .form-link {
        color: #8947d9;
        font-weight: bold;
    }
}

@media screen and (min-width: 600px) {
    .logo {
        width: 70%;
        margin: -90px auto 90px auto;
    }

    .register .logo {
        margin: -100px auto 50px auto;
    }

    .form-wrapper form {
        background-color: #8947d9;
        padding: 20px;
        width: 450px;
        -webkit-box-shadow: 3px 3px 10px 3px #ddd;
        -moz-box-shadow: 3px 3px 10px 3px #ddd;
        box-shadow: 3px 3px 10px 3px #ddd;
    }

    .form-section {
        color: white;
    }

    .form-section input {
        border: none;
    }

    .form-wrapper form button {
        width: 50%;
    }

    .form-link {
        color: white;
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {

    .register {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .logo {
        width: 80%;
        margin: -20px auto 90px auto;
    }

    .form-wrapper form {
        width: 500px;
    }

    .form-wrapper form button {
        width: 35%;
    }
}